/* All */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #F0EFEA;
}

html {
    scroll-behavior: smooth;
}

/* Header */
#Cabecalho {
    background-image: linear-gradient(to right, rgb(143, 0, 0), rgb(173, 0, 0));
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    height: 12.5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10rem;
}

.navbar{
    display: flex;
    gap: 15px;
}

.navbar a {
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    transition: .3s;
}

.navbar a:hover{
    color: #000;
}

/* Responsividade */
@media screen and (max-width: 768px){
    #Cabecalho{
        padding: 0 2rem;
    }

    .navbar{
    }
}

/* Header */

/* Forms */
.login-form {
    position: relative;
    height: 100vh;
    width: 100%;
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.login-form form {
    width: 30%;
    height: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 4px solid #c9c9c9;
    border-radius: 10px;
    background-color: #FFF;
    padding: 1rem 1rem;
}

.lbl_login {
    width: 100%;
    justify-items: flex-start;
}

.lbl_login label {
    font-size: 16px;
}

.ipt_login {
    width: 100%;
    height: 15%;
    justify-content: center;
    padding: .5rem 0;
}

.ipt_login input {
    width: 100%;
    height: 100%;
    padding-left: 0.5rem;
}

.btn_entrar {
    width: 100%;
    padding: 1rem 0;
}

.btn_entrar input {
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    outline: revert;
    height: 45px;
    width: 100%;
    background-color: #0da000;
    font-size: 22px;
    font-weight: bolder;
    line-height: 45px;
    text-align: center;
    align-items: center;
    color: #fff;
    border: solid 1px;
    border-radius: 5px;
    transition: all .5s ease;
}

.btn_entrar input:hover {
    background-color: #0a7500;
    transition: all .5s ease;
}


.btn_entrar input:active {
    opacity: 0.8;
}

.esq_senha {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

.esq_senha a {
    color: #2f00c9;
    transition: all .5s ease;
}

.esq_senha a:hover {
    text-decoration: underline;
    transition: all .5s ease;
}

.linha_01 {
    width: 100%;
}

.btn_ajuda {
    width: 40%;
    margin: 1rem 0;
    height: 12.5%;
}

.btn_ajuda input {
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    outline: revert;
    height: 100%;
    width: 100%;
    background-color: #0047D5;
    font-size: 22px;
    font-weight: bolder;
    color: #fff;
    border: solid 1px;
    border-radius: 5px;
    transition: all .5s ease;
}

.btn_ajuda input:hover {
    background-color: #002369;
    transition: all .5s ease;
}

.btn_ajuda input:active {
    opacity: 0.8;
}

/* Logo CPS */
.logo-cps img {
    position: absolute;
    width: 180px;
    height: 120px;
    bottom: 10px;
    right: 20px;
}

/* Contato */

#Contato {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    background-color: #ffffff;
    padding: 3rem 0;
    margin-top: 1rem;
}

.meio-contato h3 {
    color: #000000;
    font-size: 23px;
    margin-bottom: 1.6rem;
}

.meio-contato h5 {
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 5px;
    color: #555;
}

.meio-contato li {
    margin-bottom: 15px;
}

.meio-contato li a {
    display: block;
    color: #555;
    font-weight: 600;
    transition: all .35s ease;
}

.icons {
    display: flex;
    justify-content: space-between;
}

.social_icon a {
    cursor: pointer;
    display: inline-flex;
    font-size: 36px;
    color: #000;
    transition: all .5s ease;
}

.social_icon a:hover {
    transform: scale(1.2);
}

.vesti-etec a {
    transition: all .5s ease;
}

.vesti-etec a:hover {
    color: red;
    transition: all .5s ease;
}

.vesti-fatec a:hover {
    color: rgb(0, 110, 255);
    transition: all .5s ease;
}

.web-sai a:hover {
    color: rgb(255, 123, 0);
    transition: all .5s ease;
}

.inova-cps a:hover {
    color: rgb(0, 255, 136);
    transition: all .5s ease;
}

.email-insti a:hover {
    color: rgb(17, 0, 255);
    transition: all .5s ease;
}

.email a:hover {
    color: rgb(255, 0, 149);
    transition: all .5s ease;
}

.suporte a:hover {
    color: indigo;
    transition: all .5s ease;
}

/* Responsividade Contato */

@media screen and (max-width: 768px){
    #Contato{
        display: flex;
        align-items: flex-start;
        padding: 2rem 2rem;
        flex-direction: column;
        gap: 2.5rem;
    }

    .login-form form{
        width: 80%;
    }
}