#Cabecalho{
    background-image: linear-gradient(to right, rgb(143, 0, 0), rgb(173, 0, 0));
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    height: 97px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    justify-content: space-between;
}

/* Reconsideração */
#Reconsideracao {
    position: relative;
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    
}

.logo_cps img {
    position: absolute;
    width: 95px;
    height: 62px;
    bottom: 10px;
    right: 20px;
}  

.reconsideracao {
    background-color: #ffffff;
    width: 60%;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.reconsideracao_itens {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.reconsideracao_itens td{
    padding: 8px;
    text-align: left;
    vertical-align: middle;
    font-weight: bold;
}

.reconsideracao_itens .titulo{
    color: #8f0000;
}

.reconsideracao button {
    margin-top: 10px;
    padding: 10px 20px;
    color: #ffffff;
    font-weight: bold;
    background-color: rgb(94, 11, 11);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.bloco{
    padding: 40px;
    font-weight: bold;
}

.reconsideracao_itens p {
    margin: 5px 0;
    font-size: 16px;
    color: #333;
}

.item_dados {
    color: #8F0000;
    font-weight: bold;
    font-size: 18px;
}

#reconsideracaoBtn {
    padding: 8px 20px; /* Tamanho do botão */
    border-radius: 50px; /* Deixa as bordas arredondadas */
    background-color: #8F0000; /* Cor de fundo */
    color: #ffffff; /* Cor do texto */
    font-size: 16px; /* Tamanho do texto */
    margin-left: 10px;
}

/* Responsive */

@media screen and (max-width: 768px){
    .reconsideracao{
        width: 90%;
    }

    #reconsideracao span{
        display: flex;
        justify-content: center;
        justify-items: center;
    }

    #reconsideracaoBtn{
        margin: 0 auto;
        display: flex;
        justify-content: center;
        justify-items: center;
    }

    #aviso .bloco{
        padding: 0px;
    }
}




